@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  color: black;
  background: #ffffff !important;
  /* scrollbar-width: none; */
}
:root {
  background-color: white;
  color: black;
}
header {
  z-index: 1001 !important;
}

.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-24;
}

.title {
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug;
}

.subtitle {
  @apply text-red  uppercase tracking-wide font-medium text-lg py-4;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6868;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f35757;
}
